
<!--pills-->
<ul class="nav nav-pills justify-content-evenly mt-3">
    <li class="nav-item">
      <a class="nav-link " routerLink="telugu" routerLinkActive="active">Telugu</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="hindi" routerLinkActive="active">Hindi</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="english" routerLinkActive="active">English</a>
    </li>
  
</ul>


<div class="container">
    <router-outlet></router-outlet>
</div>