<h2 class="text-center text-danger mt-5 ">We’d Love to Connect</h2>

<div class="row mb-5">
    <div class="col-sm-2 col-md-3"></div>
    <div id="form" class="col-sm-8 col-md-6">
        <span>Send a message</span>
        <form class="text-dark mt-2">
            <div class="mb-2">
                <label for="un" class="form-label">Full Name</label>
                <input type="text" class="form-control" id="un" name="username" >
            </div>
            <div class="mb-2">
                <label for="pw" class="form-label">Password</label>
                <input type="password" class="form-control" id="pw"  name="password">
            </div>
      
            <div class="mb-2">
                <label for="em" class="form-label">Email</label>
                <input type="email" class="form-control" id="em" name="email">
            </div>
            <div class="mb-2">
                <label for="help" class="form-label">How can we help?</label>
                <textarea class="form-control" id="help" name="help" rows="3"></textarea>
            </div>
        
            <button class="btn btn-danger float-end m-4">SUBMIT</button>
        </form>
    </div>
    <div class="col-sm-2 col-md-3"></div>
</div>
