td:hover{
    background-color:#d9534f;
}

.card img{
    height: 150px;
}

.card{
    background-color: rgb(190, 181, 183);

}

.card:hover{
    background-color: rgb(241, 171, 185);

    
}
.background{
    background-image:url('../../assets/Subtle-Prism.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
@media only screen and (min-width:384px) and (max-width:575px){
    .row-cols-s-1{
        max-width: 70.33%;
        margin: auto;
    }
}