<div class="container mt-5 mb-5">
   <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://img.wynk.in/unsafe/720x251/filters:no_upscale():format(webp)/https://s3.ap-south-1.amazonaws.com/discovery-prod-arsenal/arsenal/artworks/609e000dcea6091942c999f1/BANNER_68234199192132.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://img.wynk.in/unsafe/720x251/filters:no_upscale():format(webp)/https://s3.ap-south-1.amazonaws.com/discovery-prod-arsenal/arsenal/artworks/60938cb0fd18f77ca6ff5dcb/BANNER_344111561369293.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://img.wynk.in/unsafe/720x251/filters:no_upscale():format(webp)/https://s3.ap-south-1.amazonaws.com/discovery-prod-arsenal/arsenal/artworks/608b8ab4f0643361d8233ff8/BANNER_1413634510367681.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://img.wynk.in/unsafe/720x251/filters:no_upscale():format(webp)/https://s3.ap-south-1.amazonaws.com/discovery-prod-arsenal/arsenal/artworks/6098e50178095a40f20ee0a1/BANNER_2292233452054651.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://img.wynk.in/unsafe/720x251/filters:no_upscale():format(webp)/https://s3.ap-south-1.amazonaws.com/discovery-prod-arsenal/arsenal/artworks/60406e9c566f5a239994ca5f/BANNER_11463059376335490.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>